$bgc: background-color;

@mixin toggle($name, $border_c) {
    #{$name} {
        position: absolute;
        left: -15px;

        +label {
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            width: 7rem;
            height: 2.5rem;
            border: 5px solid $border_c;
            border-radius: 30px;

            &:before {
                position: absolute;
                content: "";
                display: inline-block;
                width: 2rem;
                height: 2rem;
                border-radius: 2rem;
                background-color: #ffffff;
                margin-left: 4px;
                transition: all .5s;
                box-shadow: 0 0 3px #808080 inset;
            }
        }

        &:checked {
            +label:before {
                transform: translateX(72px);
            }
        }
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @media (max-width: 768px) {
        grid-template-columns: minmax(20rem, 1fr);
        grid-template-rows: repeat(6, minmax(5rem, 1fr));
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
        #{$bgc}: #ff6d6d;
        @include toggle("#red", #ffffff);
    }

    &:nth-child(2) {
        #{$bgc}: #ffcc41;
        @include toggle("#yellow", #ffffff);
    }

    &:nth-child(3) {
        #{$bgc}: #009e61;
        @include toggle("#pink", #ffffff);
    }

    &:nth-child(4) {
        #{$bgc}: #8fb6ff;
        @include toggle("#green", #ffffff);
    }

    &:nth-child(5) {
        #{$bgc}: #5053ff;
        @include toggle("#blue", #ffffff);
    }

    &:nth-child(6) {
        #{$bgc}: #7118ff;
        @include toggle("#skyblue", #ffffff);
    }

}